---
const globalBanner = `<strong>Help test Helm v0.17.2.</strong> Install the latest beta and report issues on <a href="https://github.com/jasoncavinder/Helm/issues/new/choose" target="_blank" rel="noreferrer">GitHub</a>.`;
const pageBanner = Astro.locals.starlightRoute.entry.data.banner?.content;
const banners = [globalBanner, pageBanner].filter(Boolean);
---

{
	banners.map((content) => (
		<div class="sl-banner helm-announcement-banner" data-pagefind-ignore set:html={content} />
	))
}
