name: SwiftLint

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  swiftlint:
    name: Lint Swift
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SwiftLint
        run: |
          brew update
          brew install swiftlint

      - name: Run SwiftLint
        run: |
          swiftlint lint --strict --reporter github-actions-logging
